
/*Taken from: https://codepen.io/zachariab/pen/wkrbc*/
#content img.imgWebIcon {
    /*max-width: 50%;*/
    max-width: 20px;
}


#postamble {
    /*color: white;*/
    padding-top: 20px;
    float: bottom;
}


span.menuDownIcon{
   margin: 10px;
}


ul.sortableList {
   list-style-type: none;
   padding: 10px 0px 10px 1px;
   margin: 5px 0px 5px 20px;
   border: 10px;
}

ul.sortableList li{
  margin: 20px 10px 0px 5px;
}

span.boundBox {
  /*border:dashed 1px #aaaaaa;
  padding: 16px 12px;
  font-size: 1.2em;
  color: red;*/
  font-size: 1.2em;
  padding: 16px 16px 16px 16px;
  margin: 16px 16px 16px 16px;
}
span.grippy {
  cursor: move;/*Cursor is 4 arrows.*/
  color: #cccccc;
  user-select: none;/*Prevents selecting text while dragging.*/
  /*content: '....';
  width: 10px;
  height: 5px;
  display: inline-block;
  overflow: hidden;
  line-height: 15px;
  padding: 16px 16px 16px 16px;
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  vertical-align: middle;
  text-shadow: 1px 0 1px black;*/
}
/*span.grippy::after {
  content: '.. .. .. ..';
}*/
