/*
body{
    background-color: var(--firstBackgroundCol);
}*/

h1.title {
  color: black;
}

/*
* Do not display certain elements
*/
p {
    /*TODO: Hide org properties (are in p tags).*/
    /*display: none;*/
}

ul.nav li a span.tag {
    /* Erase tags from table of contents of readthedocs. */
    display: none;
}

/*
* Make headings up to a certain level like lists:
*/
h4,h5,h6 {
/*
Modify deep headings (beginning with level 4) to look like they were items too.
(Actually, readthedocs converts headings from h5 onwards as lists, but we implement it like this, just in case).
We will have to add some top spacing between the end of h4 and beginning of h3 elems
*/
    display: list-item;
    margin: 0;
    margin-left: 0em;
    padding: 0px;
    border: none;
}

h4::marker,h5::marker,h6::marker {
    color: black;
    font-size: 16px;
}

h4 a {
    font-size: 15px;
}
h5 a {
    font-size: 15px;
}
h6 a {
    font-size: 15px;
}
h3 {
    box-sizing: content-box;
    padding-top: 20px;
}


/*
* For styling headings and their contents in columns (using grid-css)
*/
.outline-2 {
    /*background-color: var(--secondBackgroundCol);*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-template-rows: repeat(3, auto-fit);
    grid-gap: 0.1rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    /*grid-template-rows: 1fr min-content;*/
    grid-auto-flow: row dense;
    grid-column: 1 / -1;
    /*   grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr); */
}


div.outline-2 h2, div.outline-2 div.outline-text-2 {
    color: var(--black);
    /*text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;*/
  /*With this property, tags will be repositioned in the grid (these tags at the begginning and the idea is that they span all columns, ie: the whole width of the screen..)*/
    grid-column: 1 / -1;
  /*text-align: center;*/
}

#content {
    /*background-color: var(--secondBackgroundCol);*/
    max-width: 1900px;
    /*Round corners*/
    border-top-left-radius:     1em;
    border-top-right-radius:    1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius:  1em;
    /*Grid stuff*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: .1rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    grid-template-rows: 1fr min-content;
    grid-auto-flow: column dense;
    /*   grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr); */
}


h1.title, #searchBar {
  /*With this property, tags will be repositioned in the grid (these tags at the begginning and the idea is that they span all columns, ie: the whole width of the screen..)*/
  grid-column: 1 / -1;
  /*text-align: center;*/
}

/*
* Class outline-3 are nodes with "**"
*/
/*.outline-3 h3 ~ div {
    display: none;
}
.outline-3:hover div{
    display: block;
}*/
/* Hide class. Required by ns hide-outlines*/
.hide {
    display: none;
}



.outline-3, #table-of-contents {
  /*background-color: white;*/
  /*top-right-bottom-left*/
  padding: 10px 20px 10px 30px;
  margin: 10px 5px 10px 5px;
  border: 4px solid var(--black);
  border-radius: 30px;
}

/*
* List node inside of outline-text-2 (i.e. not inside a "**" heading) should
* also be styled as grid. The idea is to put the items in the list in columns.
*/
.outline-2 div.outline-text-2 ul {
    /*background-color: orange;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(4, auto-fit);
    grid-gap: 0.4rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    /*grid-template-rows: 1fr min-content;*/
    grid-auto-flow: row dense;
}

.outline-2 div.outline-text-2 ul li {
    margin: 2px 15px;
    /*background-color: orange;*/
    /*If text overflows, you can add truncate and add ellipsis ("...").
      Also: insert this css rule, if wanting to make text appear when hovered:

      .outline-2 div.outline-text-2 ul li:hover {
           overflow: visible;
           border: 1px solid green ;
      }
    */
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}