/* some style */
/*@import url("style_bastide_de.css");*/
/*@import url("searchBar.css");*/
/*@import url("tableOfConts.css");*/
@import url("appList.css");
/*@import url("override_recom.css");*/
:root {
  --firstBackgroundCol: #AAAAAF;
  --secondBackgroundCol: #f2f2f2;
  --blue: #04495e;
  --green: #e74c3c;
  --grey: #AAAAAF;
  --yellow: #C9C243;
  --orange: #FFA644;
  --blue2: #3498db;
  --red2: #E8615F;
  --black: #000040;
}
/* Try out with: body { color: var(--green); } */

* {
    min-height: auto;
    min-width: auto;
}
html, body {
    height: auto;
}

.strikethrough {
    text-decoration: line-through;
}

.redborder {
    /*border-style: solid;*/
    border: 5px dashed #ff4433;
}

.hide {
    display: none;
}

div.n-app-lists-app-list h2 {
    text-align: center;
}

div.outline-3 {
    margin: 10px 0px 0px 40px;
}

/* Overriding some css to make re-com single-dropdown menu like a button
 * Prefix stuff with: .n-simple-dd-select-button>div.rc-dropdown>
*/
.n-simple-dd-select-button>div.rc-dropdown>a.chosen-single.chosen-default {
  color: red;
  width: 20px;
  border: inherit;
  background-color: inherit;
  box-shadow: inherit;
}
.n-simple-dd-select-button>div.rc-dropdown>.chosen-single div b {
  background: url("../assets/css/chosen-sprite.png") no-repeat 0 15px;
  display: block;
  height: 100%;
  width: 100%;
}
.n-simple-dd-select-button>div.rc-dropdown>.chosen-drop {
  width: 200px;
}


/*
 * menu-down(-button) drop down menu.
*/
.mdb-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.mdb-dropdown-content {
  font-size: 14px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid #cccccc;
  border-radius: 14px 14px 14px 14px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  padding: 12px 6px;
  z-index: 1;
  background: #ffffff;
}

.mdb-dropdown-content ul {
  list-style: none;
  position: relative;
  left: -20px;
}
.mdb-dropdown-content ul li:hover {
  background-color: #eeeeee;
  background-image: none;
}

.red-color {
    color: red;
}

.top-menu-right-icon {
    padding: 5px;
}

/* Override some bulma tags: */
nav.navbar.is-fixed-top {
    margin: 10px 20px 5px 25px;
    /* Outline stuff: */
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    /*outline: solid;*/
    padding: 15px;
    /*outline: 0.5rem solid red;*/
}

.section {
    padding: 2.5rem 1.5rem;
}

/* For small screens. (On screens that are 600px or less) */
@media screen and (max-width: 600px) {
    div.outline-3 {
	margin: 10px 0px 0px 5px;
    }
    span.boundBox {
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
    }
    ul.sortableList {
	padding: 0px 0px 0px 0px;
	margin: 0px 2px 0px 5px;
	border: 0px;
    }
}
